.title {
    font-family: sans-serif;
    color: white;
}

.header {
    width: 100%;
    background-color: rgb(12, 126, 202);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    justify-content: space-between;
}

.content .main {
    height: 300px;
    width: 65%;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .sidebar {
    height: 300px;
    width: 35%;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    width: 100%;
    background-color: rgb(12, 126, 202);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* @Menu Mobile Site */
@media only screen 
  and (max-device-width: 480px) {
      .content {
          display: block;
      }
      .content .main {
          width: 100%;
      }

      .content .sidebar {
        width: 100%;
        height: 50px;
    }
}